<div class="row">
  <div class="col-md-12 col-lg-11">
    <img src="http://via.placeholder.com/750x320" />
    <h4 class="pull-right">{{product?.price}}</h4>
    <h4>{{product?.name}}</h4>
    <p>{{product?.dec}}</p>
    <app-star [star]="product?.star"></app-star>
    <hr>
    <div>
      <button class="btn btn-success" (click)="isComment=!isComment">发表评论</button>
    </div>
    <div [hidden]="isComment">
      <app-star (starChange)="starChangeHandle($event)" [star]="newRating" [readonly]="false"></app-star>
      <div>
        <textarea [(ngModel)]="newCommentContent">
        </textarea>
      </div>
      <div>
        <button class="btn btn-primary" (click)="addComment()">提交评论</button>
      </div>
    </div>
    <div *ngFor="let comment of comments">
      <hr />
      <app-star [star]="comment.rating"></app-star>
      <h4> {{comment.user}}</h4>
      <p>{{comment.commentTime}}</p>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>